In [1]:
import seaborn as sns

In [3]:
import streamlit as st
import pandas as pd
import seaborn as sns

In [4]:
print('\n'.join(f'{m.__name__}=={m.__version__}' for m in globals().values() if getattr(m, '__version__', None)))

seaborn==0.13.0
streamlit==1.27.2
pandas==2.2.1

In [10]:
df = sns.load_dataset('penguins')
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [11]:
df = df.drop(['species','sex','island'],axis=1)
df.head()

   bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
0            39.1           18.7              181.0       3750.0
1            39.5           17.4              186.0       3800.0
2            40.3           18.0              195.0       3250.0
3             NaN            NaN                NaN          NaN
4            36.7           19.3              193.0       3450.0

In [12]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer

In [16]:
my_imputer = SimpleImputer().set_output(transform='pandas')
imputed_df = my_imputer.fit_transform(df)

In [17]:
imputed_df

     bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
0          39.10000       18.70000         181.000000  3750.000000
1          39.50000       17.40000         186.000000  3800.000000
2          40.30000       18.00000         195.000000  3250.000000
3          43.92193       17.15117         200.915205  4201.754386
4          36.70000       19.30000         193.000000  3450.000000
..              ...            ...                ...          ...
339        43.92193       17.15117         200.915205  4201.754386
340        46.80000       14.30000         215.000000  4850.000000
341        50.40000       15.70000         222.000000  5750.000000
342        45.20000       14.80000         212.000000  5200.000000
343        49.90000       16.10000         213.000000  5400.000000

[344 rows x 4 columns]

In [25]:
imputed_df.min()

bill_length_mm         32.1
bill_depth_mm          13.1
flipper_length_mm     172.0
body_mass_g          2700.0
dtype: float64

In [26]:
imputed_df.max()

bill_length_mm         59.6
bill_depth_mm          21.5
flipper_length_mm     231.0
body_mass_g          6300.0
dtype: float64

In [18]:
my_scaler = MinMaxScaler().set_output(transform='pandas')
scaled_df = my_scaler.fit_transform(imputed_df)
scaled_df

     bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
0          0.254545       0.666667           0.152542     0.291667
1          0.269091       0.511905           0.237288     0.305556
2          0.298182       0.583333           0.389831     0.152778
3          0.429888       0.482282           0.490088     0.417154
4          0.167273       0.738095           0.355932     0.208333
..              ...            ...                ...          ...
339        0.429888       0.482282           0.490088     0.417154
340        0.534545       0.142857           0.728814     0.597222
341        0.665455       0.309524           0.847458     0.847222
342        0.476364       0.202381           0.677966     0.694444
343        0.647273       0.357143           0.694915     0.750000

[344 rows x 4 columns]

In [27]:
imputed_df.columns

Index(['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g'], dtype='object')

In [20]:
my_kmeans = KMeans(n_clusters=3).set_output(transform='pandas')

my_kmeans.fit(scaled_df)

/Users/HANA/miniconda3/envs/WBS/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

KMeans(n_clusters=3)

In [22]:
import pickle

pickle.dump(my_scaler, open('scaler.pickle','wb'))

In [24]:
pickle.dump(my_kmeans, open('kmeans.pickle','wb'))